name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with: 
        fetch-depth: 0
        
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        echo "Iniciando Login"
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "Fin del Login"

    - name: Build Docker Image
      run: |
        echo "Iniciando build de la imagen"
        docker build -t fazozeladocker/docker-graphql:0.0.1 .
        docker build -t fazozeladocker/docker-graphql:latest .
        echo "Fin del build de la imagen"

    - name: Push Docker Image
      run: |
        echo "Iniciando push de la imagen"
        docker push fazozeladocker/docker-graphql:0.0.1
        docker push fazozeladocker/docker-graphql:latest
        echo "Fin del push de la imagen"        
    # - name: Build the Docker image
      # run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
